:root {
  --icon-color-light: #000; /* Черный цвет для светлой темы */
  --icon-color-dark: #fff; /* Белый цвет для темной темы */
}

.icon {
  color: var(--icon-color-light); /* Значение по умолчанию для светлой темы */
}

[data-theme="dark"] .icon {
  color: var(--icon-color-dark);
}

.mobileNavbar {
  display: none;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
}

.menuButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-text);
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.menuItems li {
  border-bottom: 1px solid var(--border-color);
}

.menuItems li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--color-text);
}

.menuItems li a:hover {
  background-color: var(--hover-background-color);
}
.menuItems li h3 {
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.menuItems li h3:hover {
  transform: scale(1.05);
  color: var(--btn-color);
}

.menuItems h3:active {
  transform: translateY(2px);
}

@media screen and (max-width: 800px) {
  .mobileNavbar {
    display: block;
  }
}
